# =========================
# Core & Environment
# =========================
python-dotenv
pydantic

# =========================
# Backend (API)
# =========================
fastapi
uvicorn

# =========================
# LangChain & LLM
# =========================
LangChain
langchain-Core
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma

# =========================
# RAG / Vector Stores
# =========================
chromadb

# =========================
# MCP Server
# =========================
fastmcp